.agendas {
  display: flex;
  flex-direction: column;
  padding: 2.5rem 2.08rem;
  > button {
    font-size: 1.125rem;
    color: #939393;
    padding: 0.43rem;
    border-radius: 8px;
    background: transparent;
    height: 2.5rem;
    border: none;
    text-align: left;
    display: flex;
    align-items: center;
    > span {
      background-color: #cccccc;
      width: 1.625rem;
      height: 1.625rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 6px;
      margin-right: 0.75rem;
    }
    // &:active {
    // background-color: #f0f0f0;
    // color: #383838;
    // }
  }
  &_active {
    background-color: #e4e4e4 !important;
    color: #383838 !important;
  }
}
