.tool {
  padding: 1rem 1.75rem;
  display: flex;
  > button {
    display: flex;
    align-items: center;
    color: #383838;
    border: none;
    // background-color: transparent;
    background: transparent;
    min-width: auto;
    > span {
      margin-left: 10px;
    }
    &:first-child {
      flex: 1 0 0px;
    }
  }
}
